<nav class="navbar" id="navbar">
  <a class="navbar-brand" id="homeButton">| Home |</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Find a Trail" id="search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submitButton">Search</button>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  </form>
</nav>

<div class="container">
 <div class="row">
    <div class="welcomeMsg">
      Sign in to view your trails    
    </div>
  </div>
</div>