header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(hiking.jpeg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) sclae(2);
    z-index: -1;
    min-height: 100vh;
} 

.navbar ul {
  list-style: none;
  background-image: url(hiking.jpeg);
  text-align: right;
  padding: 0;
  margin: 0;
}

.navbar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

.navbar a {
  text-decoration: none;
  color: orange;
  display: block;
  padding-left: 15px;
  transition: .3s background-color;
}

.navbar a:hover {
  background-color: white;
}


/* Sub Menus */
.navbar li li {
  font-size: 1.1em;
}

@media screen and (min-width: 650px) {
  .navbar li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .navbar a {
    border-bottom: none;
  }

  .navbar > ul > li {
    text-align: center;
  }

  .navbar > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
 
  .navbar li ul {
    /* position: absolute; */
    display: none;
    width: inherit;
  } 
  
  .navbar li:hover ul {
    display: block;
    position: absolute;
    z-index: 100;
  }
  
  .navbar li ul li {
    display: block;
  }
 
}
 

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
  }
  h1,
  .h1,
  h2,
  .h2 {
    font-weight: 300;
  }
  h1,
  .h1 {
    font-size: 30px;
  }
  .lighter {
    font-weight: 100;
  }
  .light {
    font-weight: 300;
  }
  .normal {
    font-weight: 400;
  }
  .lowercase {
    text-transform: lowercase;
  }
  .bold {
    font-weight: 700;
  }
  .big {
    font-size: 80px;
    text-align: center;
  }
  @media (max-width: 767px) {
    .big {
      font-size: 40px;
    }
  }
  .header {
    font-weight: 200;
    font-size: 50px;
  }
  @media (max-width: 767px) {
    .header {
      font-size: 30px;
    }
  }
  h2,
  .h2 {
    font-size: 25px;
  }
  h3,
  .h3 {
    font-size: 12px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
  }
  .link {
    color: #ECB517;
  }
  .link:hover {
    color: #f0c446;
    text-decoration: none;
  }
  .blue {
    color: #50788C;
  }
  .orange {
    color: #ECB517;
  }
  .white {
    color: #FFF;
  }
  .bg-orange {
    background-color: #ECB517;
  }
  .bg-blue {
    background-color: #50788C;
  }
  .pd-t {
    padding-top: 100px;
  }
  @media (max-width: 767px) {
    .pd-t {
      padding-top: 20px;
    }
  }
  .pd-b {
    padding-bottom: 100px;
  }
  @media (max-width: 767px) {
    .pd-b {
      padding-bottom: 20px;
    }
  }
 
   .button1 {
    outline: none;
    border: 2px solid #FFF;
    padding: 10px 16px;
    margin-bottom: 4px;
    width: 250%;
    margin-left: -162px;
    left: 500px;
    white-space: nowrap;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 40;
    vertical-align: middle;
    line-height: 5px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    color: #50788C;
    background-color: transparent;
    border-radius: 2rem;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease
  } 
  .button {
    outline: none;
    border: 2px solid #FFF;
    padding: 18px 16px;
    margin-bottom: 6px; 
    width: 100%;
     white-space: nowrap; 
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    vertical-align: middle;
    line-height: 10px;
    text-align: center;
     box-sizing: border-box; 
     text-decoration: none; 
     color: #50788C;
    background-color: #FFF; 
    border-radius: 2rem;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
  }
   .button:hover,
  .button:focus {
    text-decoration: none;
  } 
  
.button
  .button-primary-blue {
    background-color: #50788C;
    color: #FFF;
    border-color: #50788C;
  }
  .button-primary-blue:hover,
  .button-primary-blue:focus {
    background-color: #6792a8;
    color: #FFF;
    border-color: #6792a8;
  }
  .button-primary-orange {
    background-color: #ECB517;
    color: #FFF;
    border-color: #ECB517;
  }
  .button-primary-orange:hover,
  .button-primary-orange:focus {
    background-color: #f0c446;
    color: #FFF;
    border-color: #f0c446;
  }
  .button-primary-blue-hollow {
    background-color: transparent;
    border-color: #50788C;
    color: #FFF;
  }
  .button-primary-blue-hollow:hover,
  .button-primary-blue-hollow:focus {
    background-color: transparent;
    border-color: #6792a8;
    color: #FFF;
  }
  .button-primary-orange-hollow {
    background-color: transparent;
    border-color: #ECB517;
    color: #FFF;
  }
  
  
  .button-primary-orange-hollow:hover,
  .button-primary-orange-hollow:focus {
    background-color: transparent;
    border-color: #f0c446;
    color: #FFF;
  }
  .social-list li:nth-child(4):hover {
    background-color: #00aced;
  }
  .social-list li:nth-child(3):hover {
    background-color: #007bb5;
  }
  .social-list li:nth-child(2):hover {
    background-color: #3b5998;
  }
  .social-list li:nth-child(1):hover {
    background-color: #125688;
  }

  /* line for sign up  */
  .thin-line {
    margin: 30px 0 30px 0;
    width: 100%;
    height: 1px;
    background-color: #50788c 0%;
    background-image: -webkit-gradient(linear, left top, right top, from(#50788c 0%), to(#ecb517 100%));
    background-image: -webkit-linear-gradient(left, #50788c 0%, #ecb517 100%);
    background-image: -moz-linear-gradient(left, #50788c 0%, #ecb517 100%);
    background-image: -ms-linear-gradient(left, #50788c 0%, #ecb517 100%);
    background-image: -o-linear-gradient(left, #50788c 0%, #ecb517 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ECB517, endColorstr=#50788C, GradientType=1);
  }
  
  .top-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
  }

  .top-banner-header {
    display: table;
    height: 50vh;
    margin: 0 auto;
    min-height: 100%;
  }
  @media (max-width: 768px) {
    .top-banner-header {
      width: 100%;
    }
  }
  .top-banner-header .inner {
    display: table-cell;
    vertical-align: middle;
    padding: 1.5rem;
  }
  .top-banner-header .inner header {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .select-options li:hover {
    background-color: #f0c446;
    color: #FFF;
  }

  .modal {
    z-index: 10000;
  }
  .modal-content {
    border-radius: 0;
  }
  .modal-header {
    background-size: small;
    background-repeat: no-repeat;
    background-image: url('hiking.jpeg');
    background-position: center center;
    width: 100%;
    height: 100%;
    position: relative;
  }
   
   @media (max-width: 992px) {
    .newsfeed-box-content {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @media (max-width: 767px) {
    .inner-site {
      -webkit-transition: all 300ms cubic-bezier(0.1, 0.3, 0.3, 1.45);
      -moz-transition: all 300ms cubic-bezier(0.1, 0.3, 0.3, 1.45);
      transition: all 300ms cubic-bezier(0.1, 0.3, 0.3, 1.45);
    }
    
  }  
  


 