#trailList {
    
    height: 500px;
    overflow: scroll;
}

#searching {
    font-size: 30px;
    color: rgb(172, 27, 27);

}
#place {
    font-size: 24pt;
    height: 30px;

}
button {
    font-size: 30px;
}